.users {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 2px solid black;
  width: 40vw;
}

.users img {
  border-radius: 50%;
  border: 1px solid black;
}

button.dataFetch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  background-color: #fff;
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

button.dataFetch:hover {
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 500px) {
  .users {
    width: 100%;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
