.inner {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid cadetblue;
  color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 2px;
  cursor: pointer;
  transition: 0.4s;
}

.inner.hover {
  background-color: #000;
  color: orangered;
  border: 1px solid orangered;
}
